@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Author"]</h4>

<address>
    No.999 Zixing Rd,<br />
    Shanghai, China.<br />
    <abbr title="Phone">Tel:</abbr>
    (+86) 186-1683-5187
</address>

<address>
    <strong>E-mail:</strong> <a href="t-xinma@microsoft.com">Support@microsoft.com</a><br />
</address>
