@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <h4>
        <strong>
            Click <a href="~/images/package.zip" download="package.zip">here</a> to get the example file.
        </strong>
    </h4>


<p>
    We have wireshark as the capturing tool.The IP address of <u>github.com</u> is <u>52.74.223.119</u>. The cipher exchang method is <a href="https://en.wikipedia.org/wiki/Kerberos_(protocol)">Kerberos</a>, and the other two IP addresses are <u>151.101.8.133</u> and <u>185.199.109.154</u>. <br />
</p>

<h5>
    <strong>
        Take the communication with <u>185.199.109.154</u> for detailed <a style="color:red">handshake</a> process:
    </strong>
</h5>

<div>
    <img src="~/images/handshake.JPG" class="img-responsive"/>
</div>

<br/>

<div>
    <ol>
        <li>
            <p>
                Client Hello (No.94)
            </p>
            <img src="~/images/clienthello.JPG" class="img-responsive"/>
            <br/>
        </li>
        <li>
            <p>
                Server Hello (No.108)
            </p>
            <img src="~/images/serverhello.jpg" class="img-responsive"/>
            <br/>
        </li>
        <li>
            <p>
                Server cert (No.110)
            </p>
            <img src="~/images/servercert.jpg" class="img-responsive"/>
            <br/>
        </li>
        <li>
            <p>
                Client change key (No.113)
            </p>
            <img src="~/images/clientkey.jpg" class="img-responsive"/>
            <br/>
        </li>
        <li>
            <p>
                Server change key spec (No.119)
            </p>
            <img src="~/images/serverspec.jpg" class="img-responsive"/>
            <br />
        </li>
    </ol>
</div>

<h5>
    <strong>
        Take the communication with <u>52.74.223.119</u> for detailed <a style="color:red">Application Data Exchange</a> process:
    </strong>
</h5>

<br />

<img src="~/images/AppExchange.jpg" class="img-responsive"/>




