@{
    ViewData["Title"] = "Reference";
}

    <style>
        #Re {
            font-size: 14px;
            font-weight: bold; /*字体粗细*/
            background-color: #E1FCE0;
            color: black;
        }
    </style>

<h2>@ViewData["Title"]</h2>

<p>Use this area to provide additional information.</p>
<li><a href="https://en.wikipedia.org/wiki/Transport_Layer_Security">Transport Layer Security-Wikipedia</a></li>