@{
    ViewData["Title"] = "Reference";
}
<h2>@ViewData["Title"]</h2>

<p>Use this area to provide additional information.</p>
<li><a href="https://en.wikipedia.org/wiki/Transport_Layer_Security">Transport Layer Security-Wikipedia</a></li>