@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3 style="text-align:center"><strong>Application Data Exchange</strong></h3>
<br/>
<img src="~/images/RecordProtocol.jpg" alt="Record Protocol" usemap="#furtherdetails" style="width:60%;height:60%"/>
<br />
<br />
<img src="~/images/header.jpg" alt="Package format" style="width:40%;height:40%" />

<div>
    <a href="/Details/Index" >
        <strong>
            &larr; Back to the handshake process
        </strong>
    </a>
</div>