@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3><strong>Client Hello</strong></h3>

<ul>
    <li>The highest TLS protocol version it supports;</li>
    <li>A random number;</li>
    <li>A list of suggested cipher suites and suggested compression methods;</li>
    <li>Session ID, if the client is attempting to perform a resumed handshake;</li>
    <li>A list of supported application protocols, such as HTTP/2, if the client can use Application-Layer Protocol Negotiation.</li>
</ul>
        