@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    

<h3><strong>Server Bye</strong></h3>

<ul>
    Finally, the server sends a ChangeCipherSpec, telling the client, "Everything I tell you from now on will be authenticated (and encrypted, if encryption was negotiated)."
    The server sends its authenticated and encrypted Finished message.
    The client performs the same decryption and verification procedure as the server did in the previous step.
</ul>

<div>
    <a href="/Details/Index">
        <strong>
            &lArr; Back
        </strong>
    </a>
</div>