@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    

<h3><strong>Server Hello</strong></h3>

<ul>
    <li>The chosen protocol version;</li>
    <li>a random number;</li> 
    <li>CipherSuite and compression method from the choices offered by the client;</li>
    <li>To confirm or allow resumed handshakes the server may send a session ID. </li>  
</ul>

<p>
    The chosen protocol version should be the highest that both the client and server support. For example, if the client supports TLS version 1.1 and the server supports version 1.2, version 1.1 should be selected; version 1.2 should not be selected.
</p>

<div>
    <a href="/Details/Index">
        <strong>
            &larr; Back
        </strong>
    </a>
</div>